/* 
dark blue = rgb(1,12,128)
light blue = rgb(77,204,223)


*/
.custom-navbar{
    background-color: rgb(77,204,223);
    height: 60px;
    padding: 0px;
    margin-bottom: 0px;
    /* border-bottom: solid black 3px; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Customize the box shadow values */
}
.nav-link{
    color: white !important;
}
.nav-link:hover{
    color: rgb(1,12,128) !important;
}
button.navbar-toggler.collapsed{
    color: white !important;
    background-color: white;
}
img{
    height: 40px !important;
}
.title{
    color: white;
}
@media (max-width: 450px) {
    .navLinks{
        flex-direction: column; 
    }
    .navbar-nav{
        flex-direction: column!important;
        background-color: rgb(77,204,223);
        padding-top: 50px;
    }
    .container{
        padding-right: 0px;
    }
  }